<phpunit bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="Pants Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>./library</directory>
            <exclude>
                <directory>./library/Zend</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
